<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/product-details.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Slick click -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap&subset=vietnamese"
      rel="stylesheet"
    />
    <!-- font chữ -->
    <link
      rel="stylesheet"
      href="/fonts/fontawesome-free-5.15.4-web/css/all.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header"></div>

    <div class="container-detail">
      <div class="render_product">
        <!-- Render product -->
      </div>

      <div class="divider"></div>

      <div class="home-best-seller">
        <h3 class="sl-seller-title">SẢN PHẨM LIÊN QUAN</h3>

        <div class="best-seller">
          <div class="best-seller-item">
            <img
              src="https://res.cloudinary.com/anummio/image/upload/v1639404621/products/stu_basas_A61023_1-500x500_yf0wi0.jpg"
              alt=""
            />

            <div class="slider-title">
              <h3 class="name">Baseball Cap - Be Positive</h3>
              <h3 class="color">Pink</h3>
              <h3 class="price">275.000 VND</h3>
            </div>
          </div>
          <div class="best-seller-item">
            <img
              src="https://res.cloudinary.com/anummio/image/upload/v1639404552/products/pro_ABC100_1-500x500_1_zt2dml.jpg"
              alt=""
            />

            <div class="slider-title">
              <h3 class="name">{item.name}</h3>
              <h3 class="color">{item.color}</h3>
              <h3 class="price">{item.price}</h3>
            </div>
          </div>
          <div class="best-seller-item">
            <img
              src="https://res.cloudinary.com/anummio/image/upload/v1639404550/products/pro_basictee_ABT00003_1-500x500_dse6vy.jpg"
              alt=""
            />

            <div class="slider-title">
              <h3 class="name">{item.name}</h3>
              <h3 class="color">{item.color}</h3>
              <h3 class="price">{item.price}</h3>
            </div>
          </div>
          <div class="best-seller-item">
            <img
              src="https://res.cloudinary.com/anummio/image/upload/v1639404611/products/stu_basas_A61003_1-500x500_gz5ria.jpg"
              alt=""
            />

            <div class="slider-title">
              <h3 class="name">{item.name}</h3>
              <h3 class="color">{item.color}</h3>
              <h3 class="price">{item.price}</h3>
            </div>
          </div>
          <div class="best-seller-item">
            <img
              src="https://res.cloudinary.com/anummio/image/upload/v1639404615/products/stu_basas_A61022_1-500x500_cxc4v5.jpg"
              alt=""
            />

            <div class="slider-title">
              <h3 class="name">{item.name}</h3>
              <h3 class="color">{item.color}</h3>
              <h3 class="price">{item.price}</h3>
            </div>
          </div>
          <div class="best-seller-item">
            <img
              src="https://res.cloudinary.com/anummio/image/upload/v1639404612/products/stu_basas_A61013_1-500x500_uqym07.jpg"
              alt=""
            />

            <div class="slider-title">
              <h3 class="name">{item.name}</h3>
              <h3 class="color">{item.color}</h3>
              <h3 class="price">{item.price}</h3>
            </div>
          </div>
          <div class="best-seller-item">
            <img
              src="https://res.cloudinary.com/anummio/image/upload/v1639404549/products/stu_basas_A61024_1-500x500_fftcac.jpg"
              alt=""
            />

            <div class="slider-title">
              <h3 class="name">{item.name}</h3>
              <h3 class="color">{item.color}</h3>
              <h3 class="price">{item.price}</h3>
            </div>
          </div>
          <div class="best-seller-item">
            <img
              src="https://res.cloudinary.com/anummio/image/upload/v1639404551/products/pro_vintas_A61043_1-500x500_ym8dh2.jpg"
              alt=""
            />

            <div class="slider-title">
              <h3 class="name">{item.name}</h3>
              <h3 class="color">{item.color}</h3>
              <h3 class="price">{item.price}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="render_card">
      <!-- Render card -->
    </div>
    <div class="footer"></div>

    <!-- Scrip -->

    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="/js/layout/header.js"></script>
    <script src="/js/layout/footer.js"></script>
    <script src="/js/components/product.js"></script>

    <script src="/js/components/product_detail.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script src="/js/components/logina.js"></script>
    <script src="/js/components/card.js"></script>
    <script>
      renderProductDetail();
    </script>
    <script></script>
  </body>
</html>
